@CHARSET "UTF-8";
#upBrtable {
	margin-left: 50px;
	margin-top: 20px;
}
#upBrtable td {
	padding:7px;
}
#upBrtable .upBrFont {
	padding-left: 10px;
}
.upBrFont_1 {
	padding-left: 50px;
}
.upBrtextfield {
	padding:5px 15px;border-radius:5px;outline: none;border-style: solid;border-color: rgb(169, 169, 169); border-width: 1px;
}
#upBrText {
	width:668px;height:256px;padding:5px 15px;border-radius:5px;outline: none;
}
.upBrBtn {
	width:66px;height:32px;background: #fd6d37;color:#fff;border-radius:5px;border:none;outline: none;cursor: pointer;margin: 20px;
}
.upBrBtn:hover {
	-webkit-filter:brightness(.9);
}
.frameH3 {
	font-family: "微软雅黑","Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}